style.css .img {
    margin-bottom: -15px;
    margin-left: -15px;
}

.accounts {
    padding-left: 140px;
    padding-top: 100px;
}

.text1 {
    font-size: 22px;
    font-family: sans-serif;
    margin-left: -5px;
}

.text2 {
    color: #606770;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 12px;
}

.card {}

.background {
    display: block;
    background-color: white;
    width: max-content;
    text-decoration: none;
}

.name {
    padding: 5px;
    text-align: center;
    color: black;
}

.close-button {
    position: absolute;
    background-color: black;
    color: white;
    border-color: black;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
}

.background:hover .close-button {
    background-color: white;
    color: black;
    font-size: 150%;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -10px;
}

.transletions {
    padding-left: 140px;
}

.english {
    padding-left: 10px;
    font-size: 14px;
    color: darkgray;
}

.container {
    height: 100vh;
    background-color: #f0f2f5;
}

.login {
    background-color: white;
}